<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
<div id="plans"></div>
    <script>
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/websocket'
        );

        chatSocket.onmessage = function(e) {
            document.querySelector('#plans').append(e.data);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
    </script>
</body>
</html>